.speaker-card {
  display: flex;
  flex-direction: column;
}
ion-card{
  margin : 7px;
  box-shadow: 1px 0px 12px 1px grey;
  
}
.gener{
  margin-top: -1px;
  font-size: 12px;
}
.tag{
  position: absolute;
    top: -11px;
    right: -1px;
    z-index: 6;
    background: #cf3c4f;
    width: 95px;
    height: 77px;
    padding: 10.5px 0;
    box-shadow: -5px 9px 6px 2px rgba(196, 162, 162, 0.5);
    color: white;
    font-weight: 700;
    text-align: right;
    border-bottom-left-radius: 69%;
}

 

.icon-view{
  margin-left: auto;
  font-size: 15px;
}
.synopsis-cls{
  width: 303px;
  margin-left: 1%;
  white-space: break-spaces;
  text-align: justify;
}
.title-cls{
  color: #1e2023;
  font-size: 21px;
  padding-left: 4px;
  
}
.comment-section{
  border-right: 1px solid gray;
  margin-top: -4px;
}
.bottom-bar{
  background-color: #f5f6f9;
  height: 43px;
}

.round-corners {
  border-radius: 24px;
}
.chip-css{
  margin-left: 20px;
  margin-bottom: 13px;
}
.heart-cls-red{
 color:#cf3c4f;
 font-size: 34px;
}
.heart-cls-white{
 color:#d7d8da;
 font-size: 34px;
}
.view-class{
  margin-left: 12px;
  position: relative;
  top: -17px;
  left: -16px;
} 
/* Due to the fact the cards are inside of columns the margins don't overlap
 * properly so we want to remove the extra margin between cards
 */
ion-col:not(:last-of-type) .speaker-card {
  margin-bottom: 0;
}
.custom-header{
  --ion-background-color: -webkit-linear-gradient(150deg, #013A6B 35%, #004E95 35%);
  color: white !important;
  }
  .custom-toolbar{
      color: white;
  }

.speaker-card .speaker-item {
  --min-height: 85px;
}

.speaker-card .speaker-item h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.speaker-card .speaker-item p {
  font-size: 13px;
  letter-spacing: 0.02em;
}

.speaker-card ion-card-header {
  padding: 0;
}

.speaker-card ion-card-content {
  flex: 1 1 auto;

  padding: 0;
}

.ios ion-list {
  margin-bottom: 10px;
}

.md ion-list {
  border-top: 1px solid var(--ion-color-step-150, #d7d8da);

  padding: 0;
}
 