<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-title style="font-size:17px">Category</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()" style="font-size:24px">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Speakers</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment (ionChange)="changeCategory($event)" [(ngModel)]="segment" class="seg-class" sticky>
    <ion-segment-button value="drama">
      <ion-icon src="../../../assets/icons/theater.svg"></ion-icon>
      <ion-label>Drama</ion-label>
    </ion-segment-button>
    <ion-segment-button value="comedy">
      <ion-icon src="../../../assets/icons/fun.svg"></ion-icon>
      <ion-label>Comedy</ion-label>
    </ion-segment-button>
    <ion-segment-button value="adventure">
      <ion-icon src="../../../assets/icons/mountain.svg"></ion-icon>
      <ion-label>Adventure</ion-label>
    </ion-segment-button>
    <ion-segment-button value="crime">
      <ion-icon src="../../../assets/icons/gun.svg"></ion-icon>
      <ion-label>Crime</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid fixed *ngIf="generType=='comedy'">
    <ion-row>
      <ng-container *ngIf="isLoaded; else elseTemplate">
        <ion-col size="12" size-md="6">
          <ion-card *ngFor="let post of comedyStories" >
              
             
              <img (click)="navigateToDetalil(post)" style="width: -webkit-fill-available;height:188px" src={{post.image}}/>
            
        
            <ion-item text-wrap>
              <ion-label>
                <ion-label>
                  <h2 class="title-cls" (click)="navigateToDetalil(post)" ><ion-icon *ngIf="!getStatus(post)"  class='heart-cls-white animate__animated animate__tada' name="heart"></ion-icon> 
                    <ion-icon *ngIf="getStatus(post)"   class='heart-cls-red animate__animated animate__tada'  name="heart"></ion-icon> 
                    {{post.title}}</h2>
                  <p class="synopsis-cls" (click)="navigateToDetalil(post)" ><ion-icon name="create"></ion-icon>  {{post.synopsis}}</p>
                </ion-label>
              
              </ion-label>
              
              
            </ion-item>
        
          
        
            <ion-row class="bottom-bar">
              <ion-col  class="comment-section">
                <p style="color:#cf3c4f;margin-left: 10px;"><ion-icon name="thumbs-up"></ion-icon>  {{post.likes.length }} likes</p>
              </ion-col>
              <ion-col  class="comment-section">
                <p style="color:#cf3c4f;width:80px;margin-left: 10px;"><ion-icon name="eye"></ion-icon>  {{post.views }} views</p>
              </ion-col>
              <ion-col  class="comment-section">
                <ion-chip class="chip-css ion-text-start md ion-activatable hydrated">
                  <ion-avatar class="md hydrated"><img src="../../../assets/icons/profiles-2.png"></ion-avatar>
                  <ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">{{post.uploadedBy.substring(0, 5)}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
        
          </ion-card>
         </ion-col>
      </ng-container>
      <!-- skeleton loading -->
      <ng-template #elseTemplate>
      <ion-col size="12" size-md="6" *ngFor="let post of dummyData">
        <ion-card>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-item-divider style="border: none;">
            <ion-label>
              <h2><ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text></h2>
              <p><ion-skeleton-text animated style="width: 180px;"></ion-skeleton-text></p>
            </ion-label>
          </ion-item-divider>
        </ion-card>
      </ion-col>
    </ng-template>
      <!-- end skeleton loading -->
      
    </ion-row>
  </ion-grid>


  <ion-grid fixed *ngIf="generType=='adventure'">
    <ion-row>
      <ng-container *ngIf="isLoaded; else elseTemplate">
        <ion-col size="12" size-md="6">
          <ion-card *ngFor="let post of advStories" >
              
             
              <img (click)="navigateToDetalil(post)" style="width: -webkit-fill-available;height:188px" src={{post.image}}/>
            
        
            <ion-item text-wrap>
              <ion-label>
                <ion-label>
                  <h2 class="title-cls" (click)="navigateToDetalil(post)" ><ion-icon *ngIf="!getStatus(post)"  class='heart-cls-white animate__animated animate__tada' name="heart"></ion-icon> 
                    <ion-icon *ngIf="getStatus(post)"   class='heart-cls-red animate__animated animate__tada'  name="heart"></ion-icon> 
                    {{post.title}}</h2>
                  <p class="synopsis-cls" (click)="navigateToDetalil(post)" ><ion-icon name="create"></ion-icon>  {{post.synopsis}}</p>
                </ion-label>
              
              </ion-label>
              
              
            </ion-item>
        
          
        
            <ion-row class="bottom-bar">
              <ion-col  class="comment-section">
                <p style="color:#cf3c4f;margin-left: 10px;"><ion-icon name="thumbs-up"></ion-icon>  {{post.likes.length }} likes</p>
              </ion-col>
              <ion-col  class="comment-section">
                <p style="color:#cf3c4f;width:80px;margin-left: 10px;"><ion-icon name="eye"></ion-icon>  {{post.views }} views</p>
              </ion-col>
              <ion-col  class="comment-section">
                <ion-chip class="chip-css ion-text-start md ion-activatable hydrated">
                  <ion-avatar class="md hydrated"><img src="../../../assets/icons/profiles-2.png"></ion-avatar>
                  <ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">{{post.uploadedBy.substring(0, 5)}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
        
          </ion-card>
         </ion-col>
      </ng-container>
      <!-- skeleton loading -->
      <ng-template #elseTemplate>
      <ion-col size="12" size-md="6" *ngFor="let post of dummyData">
        <ion-card>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-item-divider style="border: none;">
            <ion-label>
              <h2><ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text></h2>
              <p><ion-skeleton-text animated style="width: 180px;"></ion-skeleton-text></p>
            </ion-label>
          </ion-item-divider>
        </ion-card>
      </ion-col>
    </ng-template>
      <!-- end skeleton loading -->
      
    </ion-row>
  </ion-grid>
 
  <ion-grid fixed *ngIf="generType=='crime'">
    <ion-row>
      <ng-container *ngIf="isLoaded; else elseTemplate">
        <ion-col size="12" size-md="6">
          <ion-card *ngFor="let post of crimeStories" >
              
             
              <img (click)="navigateToDetalil(post)" style="width: -webkit-fill-available;height:188px" src={{post.image}}/>
            
        
            <ion-item text-wrap>
              <ion-label>
                <ion-label>
                  <h2 class="title-cls" (click)="navigateToDetalil(post)" ><ion-icon *ngIf="!getStatus(post)"  class='heart-cls-white animate__animated animate__tada' name="heart"></ion-icon> 
                    <ion-icon *ngIf="getStatus(post)"   class='heart-cls-red animate__animated animate__tada'  name="heart"></ion-icon> 
                    {{post.title}}</h2>
                  <p class="synopsis-cls" (click)="navigateToDetalil(post)" ><ion-icon name="create"></ion-icon>  {{post.synopsis}}</p>
                </ion-label>
              
              </ion-label>
              
              
            </ion-item>
        
          
        
            <ion-row class="bottom-bar">
              <ion-col  class="comment-section">
                <p style="color:#cf3c4f;margin-left: 10px;"><ion-icon name="thumbs-up"></ion-icon>  {{post.likes.length }} likes</p>
              </ion-col>
              <ion-col  class="comment-section">
                <p style="color:#cf3c4f;width:80px;margin-left: 10px;"><ion-icon name="eye"></ion-icon>  {{post.views }} views</p>
              </ion-col>
              <ion-col  class="comment-section">
                <ion-chip class="chip-css ion-text-start md ion-activatable hydrated">
                  <ion-avatar class="md hydrated"><img src="../../../assets/icons/profiles-2.png"></ion-avatar>
                  <ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">{{post.uploadedBy.substring(0, 5)}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
        
          </ion-card>
         </ion-col>
      </ng-container>
      <!-- skeleton loading -->
      <ng-template #elseTemplate>
      <ion-col size="12" size-md="6" *ngFor="let post of dummyData">
        <ion-card>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-item-divider style="border: none;">
            <ion-label>
              <h2><ion-skeleton-text anigitmated style="width: 100px;"></ion-skeleton-text></h2>
              <p><ion-skeleton-text animated style="width: 180px;"></ion-skeleton-text></p>
            </ion-label>
          </ion-item-divider>
        </ion-card>
      </ion-col>
    </ng-template>
      <!-- end skeleton loading -->
      
    </ion-row>
  </ion-grid>
  <ion-grid fixed *ngIf="generType=='drama'">
    <ion-row>
      <ng-container *ngIf="isLoaded; else elseTemplate">
        <ion-col size="12" size-md="6">
          <ion-card *ngFor="let post of dramaStories" >
              
             
              <img (click)="navigateToDetalil(post)" style="width: -webkit-fill-available;height:188px" src={{post.image}}/>
            
        
            <ion-item text-wrap>
              <ion-label>
                <ion-label>
                  <h2 class="title-cls" (click)="navigateToDetalil(post)" ><ion-icon *ngIf="!getStatus(post)"  class='heart-cls-white animate__animated animate__tada' name="heart"></ion-icon> 
                    <ion-icon *ngIf="getStatus(post)"   class='heart-cls-red animate__animated animate__tada'  name="heart"></ion-icon> 
                    {{post.title}}</h2>
                  <p class="synopsis-cls" (click)="navigateToDetalil(post)" ><ion-icon name="create"></ion-icon>  {{post.synopsis}}</p>
                </ion-label>
              
              </ion-label>
              
              
            </ion-item>
        
          
        
            <ion-row class="bottom-bar">
              <ion-col  class="comment-section">
                <p style="color:#cf3c4f;margin-left: 10px;"><ion-icon name="thumbs-up"></ion-icon>  {{post.likes.length }} likes</p>
              </ion-col>
              <ion-col  class="comment-section">
                <p style="color:#cf3c4f;width:80px;margin-left: 10px;"><ion-icon name="eye"></ion-icon>  {{post.views }} views</p>
              </ion-col>
              <ion-col  class="comment-section">
                <ion-chip class="chip-css ion-text-start md ion-activatable hydrated">
                  <ion-avatar class="md hydrated"><img src="../../../assets/icons/profiles-2.png"></ion-avatar>
                  <ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">{{post.uploadedBy.substring(0, 5)}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
        
          </ion-card>
         </ion-col>
      </ng-container>
      <!-- skeleton loading -->
      <ng-template #elseTemplate>
      <ion-col size="12" size-md="6" *ngFor="let post of dummyData">
        <ion-card>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-item-divider style="border: none;">
            <ion-label>
              <h2><ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text></h2>
              <p><ion-skeleton-text animated style="width: 180px;"></ion-skeleton-text></p>
            </ion-label>
          </ion-item-divider>
        </ion-card>
      </ion-col>
    </ng-template>
      <!-- end skeleton loading -->
      
    </ion-row>
  </ion-grid>
</ion-content>