<ion-header class="toolbar_class" translucent="true">
  <ion-toolbar style="color:white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref={{defaultHref}}></ion-back-button>
    </ion-buttons>
    <ion-buttons  slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="margin-left: -14px;" *ngIf="!ios"><img class="logo-cls"
        src="../../../assets/icons/cat-red.png"></ion-title>
    <ion-buttons (click)="logout()"  slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Speakers</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment (ionChange)="changeCategory($event)" [(ngModel)]="segment" class="seg-class" sticky>
    <ion-segment-button value="drama">
      <ion-icon src="../../../assets/icons/theater.svg"></ion-icon>
      <ion-label>Drama</ion-label>
    </ion-segment-button>
    <ion-segment-button value="comedy">
      <ion-icon src="../../../assets/icons/fun.svg"></ion-icon>
      <ion-label>Comedy</ion-label>
    </ion-segment-button>
    <ion-segment-button value="adventure">
      <ion-icon src="../../../assets/icons/mountain.svg"></ion-icon>
      <ion-label>Adventure</ion-label>
    </ion-segment-button>
    <ion-segment-button value="crime">
      <ion-icon src="../../../assets/icons/gun.svg"></ion-icon>
      <ion-label>Crime</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid fixed *ngIf="generType=='comedy'">
    <ion-row>
      <ng-container *ngIf="isLoaded; else elseTemplate">
        <ion-col size="12" size-md="6">
          <ion-card *ngFor="let post of comedyStories" >
              
             
              <img (click)="navigateToDetalil(post)" style="width: -webkit-fill-available;height:230px" src={{post.image}}/>
              <div class="thumbnail" *ngIf="post.shooting">
                <div class="tag">
                   <span class="blink"><b><ion-icon name="ellipse"></ion-icon> &nbsp;Shooting </b></span>
                </div>
              </div> 
        
            <ion-item>
              <ion-label>
                <ion-label>
                  <h2 class="title-cls" (click)="navigateToDetalil(post)" ><ion-icon *ngIf="!getStatus(post)"  class='heart-cls-white animate__animated animate__tada' name="heart"></ion-icon> 
                    <ion-icon *ngIf="getStatus(post)"   class='heart-cls-red animate__animated animate__tada'  name="heart"></ion-icon> 
                    {{post.title}}</h2>
                  <span class="synopsis-cls" (click)="navigateToDetalil(post)" ><ion-icon name="create"></ion-icon> {{post.synopsis}}  &nbsp; - <b><ion-icon name="time-outline"></ion-icon> &nbsp; {{ago(post.uploadedOn)}} ago</b></span>
                </ion-label>
              
              </ion-label>
              
              
            </ion-item>
        
          
        
            <ion-row class="bottom-bar">
              <ion-col  class="comment-section">
                <p style="    color: #383a3e;
                margin-left: 10px;
                font-size: 15px;
                margin-top: 10px;"><ion-icon name="thumbs-up"></ion-icon>  {{post.likes.length }} likes</p>
              </ion-col>
              <ion-col  class="comment-section">
                <p style="    color: #383a3e;
                margin-left: 10px;
                font-size: 15px;
                margin-top: 10px;"><ion-icon name="eye"></ion-icon>  {{post.views }} views</p>
              </ion-col>
              <ion-col  class="comment-section">
                <ion-chip class="chip-css ion-text-start md ion-activatable hydrated">
                  <ion-avatar class="md hydrated"><img src="../../../assets/icons/profiles-2.png"></ion-avatar>
                  <ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">{{post.uploadedBy.substring(0, 5)}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
        
          </ion-card>
         </ion-col>
      </ng-container>
      <!-- skeleton loading -->
      <ng-template #elseTemplate>
      <ion-col size="12" size-md="6" *ngFor="let post of dummyData">
        <ion-card>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-item-divider style="border: none;">
            <ion-label>
              <h2><ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text></h2>
              <p><ion-skeleton-text animated style="width: 180px;"></ion-skeleton-text></p>
            </ion-label>
          </ion-item-divider>
        </ion-card>
      </ion-col>
    </ng-template>
      <!-- end skeleton loading -->
      
    </ion-row>
  </ion-grid>


  <ion-grid fixed *ngIf="generType=='adventure'">
    <ion-row>
      <ng-container *ngIf="isLoaded; else elseTemplate">
        <ion-col size="12" size-md="6">
          <ion-card *ngFor="let post of advStories" >
              
             
              <img (click)="navigateToDetalil(post)" style="width: -webkit-fill-available;height:230px" src={{post.image}}/>
              <div class="thumbnail" *ngIf="post.shooting">
                <div class="tag">
                   <span class="blink"><b><ion-icon name="ellipse"></ion-icon> &nbsp;Shooting </b></span>
                </div>
              </div> 
        
            <ion-item text-wrap>
              <ion-label>
                <ion-label>
                  <h2 class="title-cls" (click)="navigateToDetalil(post)" ><ion-icon *ngIf="!getStatus(post)"  class='heart-cls-white animate__animated animate__tada' name="heart"></ion-icon> 
                    <ion-icon *ngIf="getStatus(post)"   class='heart-cls-red animate__animated animate__tada'  name="heart"></ion-icon> 
                    {{post.title}}</h2>
                  <p class="synopsis-cls" (click)="navigateToDetalil(post)" ><ion-icon name="create"></ion-icon>  {{post.synopsis}} &nbsp; - <b><ion-icon name="time-outline"></ion-icon> &nbsp; {{ago(post.uploadedOn)}} ago</b></p>
                </ion-label>
              
              </ion-label>
              
              
              
            </ion-item>
        
          
        
            <ion-row class="bottom-bar">
              <ion-col  class="comment-section">
                <p style="    color: #383a3e;
                margin-left: 10px;
                font-size: 15px;
                margin-top: 10px;"><ion-icon name="thumbs-up"></ion-icon>  {{post.likes.length }} likes</p>
              </ion-col>
              <ion-col  class="comment-section">
                <p style="    color: #383a3e;
                margin-left: 10px;
                font-size: 15px;
                margin-top: 10px;"><ion-icon name="eye"></ion-icon>  {{post.views }} views</p>
              </ion-col>
              <ion-col  class="comment-section">
                <ion-chip class="chip-css ion-text-start md ion-activatable hydrated">
                  <ion-avatar class="md hydrated"><img src="../../../assets/icons/profiles-2.png"></ion-avatar>
                  <ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">{{post.uploadedBy.substring(0, 5)}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
        
          </ion-card>
         </ion-col>
      </ng-container>
      <!-- skeleton loading -->
      <ng-template #elseTemplate>
      <ion-col size="12" size-md="6" *ngFor="let post of dummyData">
        <ion-card>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-item-divider style="border: none;">
            <ion-label>
              <h2><ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text></h2>
              <p><ion-skeleton-text animated style="width: 180px;"></ion-skeleton-text></p>
            </ion-label>
          </ion-item-divider>
        </ion-card>
      </ion-col>
    </ng-template>
      <!-- end skeleton loading -->
      
    </ion-row>
  </ion-grid>
 
  <ion-grid fixed *ngIf="generType=='crime'">
    <ion-row>
      <ng-container *ngIf="isLoaded; else elseTemplate">
        <ion-col size="12" size-md="6">
          <ion-card *ngFor="let post of crimeStories" >
              
             
              <img (click)="navigateToDetalil(post)" style="width: -webkit-fill-available;height:230px" src={{post.image}}/>
              <div class="thumbnail" *ngIf="post.shooting">
                <div class="tag">
                   <span class="blink"><b><ion-icon name="ellipse"></ion-icon> &nbsp;Shooting </b></span>
                </div>
              </div> 
        
            <ion-item text-wrap>
              <ion-label>
                <ion-label>
                  <h2 class="title-cls" (click)="navigateToDetalil(post)" ><ion-icon *ngIf="!getStatus(post)"  class='heart-cls-white animate__animated animate__tada' name="heart"></ion-icon> 
                    <ion-icon *ngIf="getStatus(post)"   class='heart-cls-red animate__animated animate__tada'  name="heart"></ion-icon> 
                    {{post.title}}</h2>
                  <p class="synopsis-cls" (click)="navigateToDetalil(post)" ><ion-icon name="create"></ion-icon>  {{post.synopsis}}  &nbsp; - <b><ion-icon name="time-outline"></ion-icon> &nbsp; {{ago(post.uploadedOn)}} ago</b></p>
                </ion-label>
              
              </ion-label>
              
              
            </ion-item>
        
          
        
            <ion-row class="bottom-bar">
              <ion-col  class="comment-section">
                <p style="    color: #383a3e;
                margin-left: 10px;
                font-size: 15px;
                margin-top: 10px;"><ion-icon name="thumbs-up"></ion-icon>  {{post.likes.length }} likes</p>
              </ion-col>
              <ion-col  class="comment-section">
                <p style="    color: #383a3e;
                margin-left: 10px;
                font-size: 15px;
                margin-top: 10px;"><ion-icon name="eye"></ion-icon>  {{post.views }} views</p>
              </ion-col>
              <ion-col  class="comment-section">
                <ion-chip class="chip-css ion-text-start md ion-activatable hydrated">
                  <ion-avatar class="md hydrated"><img src="../../../assets/icons/profiles-2.png"></ion-avatar>
                  <ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">{{post.uploadedBy.substring(0, 5)}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
        
          </ion-card>
         </ion-col>
      </ng-container>
      <!-- skeleton loading -->
      <ng-template #elseTemplate>
      <ion-col size="12" size-md="6" *ngFor="let post of dummyData">
        <ion-card>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-item-divider style="border: none;">
            <ion-label>
              <h2><ion-skeleton-text anigitmated style="width: 100px;"></ion-skeleton-text></h2>
              <p><ion-skeleton-text animated style="width: 180px;"></ion-skeleton-text></p>
            </ion-label>
          </ion-item-divider>
        </ion-card>
      </ion-col>
    </ng-template>
      <!-- end skeleton loading -->
      
    </ion-row>
  </ion-grid>
  <ion-grid fixed *ngIf="generType=='drama'">
    <ion-row>
      <ng-container *ngIf="isLoaded; else elseTemplate">
        <ion-col size="12" size-md="6">
          <ion-card *ngFor="let post of dramaStories" >
              
             
              <img (click)="navigateToDetalil(post)" style="width: -webkit-fill-available;height:230px" src={{post.image}}/>
              <div class="thumbnail" *ngIf="post.shooting">
                <div class="tag">
                   <span class="blink"><b><ion-icon name="ellipse"></ion-icon> &nbsp;Shooting </b></span>
                </div>
              </div> 
        
            <ion-item text-wrap>
              <ion-label>
                <ion-label>
                  <h2 class="title-cls" (click)="navigateToDetalil(post)" ><ion-icon *ngIf="!getStatus(post)"  class='heart-cls-white animate__animated animate__tada' name="heart"></ion-icon> 
                    <ion-icon *ngIf="getStatus(post)"   class='heart-cls-red animate__animated animate__tada'  name="heart"></ion-icon> 
                    {{post.title}}</h2>
                  <p class="synopsis-cls" (click)="navigateToDetalil(post)" ><ion-icon name="create"></ion-icon>  {{post.synopsis}}  &nbsp; - <b><ion-icon name="time-outline"></ion-icon> &nbsp; {{ago(post.uploadedOn)}} ago</b></p>
                </ion-label>
              
              </ion-label>
              
              
            </ion-item>
        
          
        
            <ion-row class="bottom-bar">
              <ion-col  class="comment-section">
                <p style="    color: #383a3e;
                margin-left: 10px;
                font-size: 15px;
                margin-top: 10px;"><ion-icon name="thumbs-up"></ion-icon>  {{post.likes.length }} likes</p>
              </ion-col>
              <ion-col  class="comment-section">
                <p style="    color: #383a3e;
                margin-left: 10px;
                font-size: 15px;
                margin-top: 10px;"><ion-icon name="eye"></ion-icon>  {{post.views }} views</p>
              </ion-col>
              <ion-col  class="comment-section">
                <ion-chip class="chip-css ion-text-start md ion-activatable hydrated">
                  <ion-avatar class="md hydrated"><img src="../../../assets/icons/profiles-2.png"></ion-avatar>
                  <ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">{{post.uploadedBy.substring(0, 5)}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
        
          </ion-card>
         </ion-col>
      </ng-container>
      <!-- skeleton loading -->
      <ng-template #elseTemplate>
      <ion-col size="12" size-md="6" *ngFor="let post of dummyData">
        <ion-card>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-item-divider style="border: none;">
            <ion-label>
              <h2><ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text></h2>
              <p><ion-skeleton-text animated style="width: 180px;"></ion-skeleton-text></p>
            </ion-label>
          </ion-item-divider>
        </ion-card>
      </ion-col>
    </ng-template>
      <!-- end skeleton loading -->
      
    </ion-row>
  </ion-grid>
</ion-content>