<ion-header class="custom-header">

  <ion-toolbar class="custom-toolbar">
    <ion-title style="font-size:16px"><ion-icon name="person-add"></ion-icon> &nbsp; Add Actor/Actress</ion-title>
    <ion-buttons (click)="closeModal2()" slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-grid> 

    <span *ngIf="!showActress">
       
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
       
          <ion-radio-group allow-empty-selection="false" name="radio-group" (ionChange)="radioGroupChange($event,'2')"
            #radioGroup>
            <ion-list-header>
              <img class="img-thumb" src="../../../assets/icons/hand-drawn-actors-background_23-2147733984.jpg"/>
            </ion-list-header>
            <div style="height: 450px;
            overflow-x: scroll;">
           <ion-row class="rowStyle">
            <ion-icon name="search" color="dark"></ion-icon>
            <ion-input type="text" (keyup)="setFilteredItems('actress')" class="txtClass" placeholder="Filter Actress" [(ngModel)]="queryText_actress"></ion-input>
          </ion-row>
           <ion-item *ngFor="let item of q1" (ionFocus)="radioFocus()" (ionSelect)="radioSelect($event)"
           (ionBlur)="radioBlur()">
           <ion-avatar>
             <img src={{item.image}}>
           </ion-avatar> &nbsp;<ion-label>{{item.actorName}}</ion-label> &nbsp;<ion-chip>
             <ion-label color="dark">Stories</ion-label>
             <ion-chip>
               <ion-icon name="heart" color="dark"></ion-icon>
               <ion-label>{{item.associatedStories.length}}</ion-label>
             </ion-chip>
           </ion-chip>
           <ion-radio slot="start" name="{{item.actorName}}" value="{{item.id}}"></ion-radio>
         </ion-item>
          </div>

          </ion-radio-group>
        </ion-col>

      </ion-row>
    </span>
    <span *ngIf="showActress">
      
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
           
          <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="radioGroupChange($event,'1')"
            #radioGroup>
            <ion-list-header>
              <img class="img-thumb" src="../../../assets/icons/hand-drawn-2.jfif"/>
            </ion-list-header>
            <div style="height: 450px;
            overflow-x: scroll;">
               <ion-row class="rowStyle">
                <ion-icon name="search" color="dark"></ion-icon>
              <ion-input type="text" (keyup)="setFilteredItems('actor')" class="txtClass" placeholder="Filter Actors" [(ngModel)]="queryText_actor"></ion-input>
            </ion-row>
             <ion-item *ngFor="let item of q3" (ionFocus)="radioFocus()" (ionSelect)="radioSelect($event)"
              (ionBlur)="radioBlur()">
              <ion-avatar (click)="showActorDetails()">
                <img src={{item.image}}>
              </ion-avatar> &nbsp;<ion-label>{{item.actorName}}</ion-label> &nbsp;<ion-chip>
                <ion-label (click)="showActorDetails()" color="dark">Stories</ion-label>
                <ion-chip>
                  <ion-icon name="heart" color="dark"></ion-icon>
                  <ion-label>{{item.associatedStories.length}}</ion-label>
                </ion-chip>
              </ion-chip>
              <ion-radio slot="start" name="{{item.actorName}}" value="{{item.id}}"></ion-radio>
            </ion-item>
            </div>


          </ion-radio-group>
        </ion-col>

      </ion-row>
    </span>
      
    
     

      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button color="dark">
          <ion-icon name="arrow-forward-circle" (click)="checkActorSelected()"></ion-icon>
        </ion-fab-button>
      </ion-fab>
       
      <ion-fab *ngIf="showActress==false" vertical="bottom" horizontal="left">
        <ion-fab-button color="medium">
          <ion-icon name="arrow-back-circle"  (click)="showActress=true"></ion-icon>
        </ion-fab-button>

      </ion-fab>

     






  </ion-grid>
  <ion-fab *ngIf="showActress==false" vertical="bottom" horizontal="end">
    <ion-fab-button color="dark">
      <ion-icon name="save" (click)="mapActors()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>