<!-- my-modal.page.html -->
<ion-header class="custom-header">

  <ion-toolbar class="custom-toolbar">
    <ion-title style="font-size:17px">Link Your Fav Actors.!</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" style="font-size:24px">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content forceOverscroll="false">
  <ion-grid>



    <span  *ngIf="!showActress">
    <ion-row class="animate__animated animate__flipInX" no-padding class="matrix" style="margin-top: -5px;">
      <ion-col size="12">
        <ion-item-divider class="divider_1" sticky>
          <ion-label class="tiles-header">
          </ion-label>
        </ion-item-divider>
        </ion-col>
    </ion-row>
    <ion-row no-padding class="matrix" style="margin-top:-27px">
      <ion-col size="12" class="q1">
        <ion-slides pager="true" style="margin-top: -2px;" lines="none" [options]="slideOpts">
          <ion-slide  dragula="bag" [(dragulaModel)]="q1" lines="none">

            <div  *ngFor="let item of q1"  class="item">
            <img src={{item.image}} class="avatar"/>
            <span class="caption">{{item.actorName}}</span>
            <span class="caption"><ion-badge color="primary">{{item.associatedStories.length}} - Movies</ion-badge></span>
            </div>
              
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </span >
     <span  *ngIf="showActress">
    <ion-row  class="animate__animated animate__flipInX"  no-padding class="matrix">
      <ion-col size="12">
        <ion-item-divider class="divider_2" sticky>
          <ion-label class="tiles-header">
          </ion-label>
        </ion-item-divider>
        </ion-col>
    </ion-row>
    <ion-row no-padding class="matrix"  style="margin-top:-27px">
      <ion-col size="12" class="q1">
        <ion-slides style="margin-top: -2px;" lines="none" [options]="slideOpts">
          <ion-slide  dragula="bag" [(dragulaModel)]="q3" lines="none">
             
              <div  *ngFor="let item of q3"  class="item">
                <img src={{item.image}} class="avatar"/>
                <span class="caption">{{item.actorName}}</span>
                <span class="caption"><ion-badge color="primary">{{item.associatedStories.length}} - <ion-icon class="badge-cls" name="videocam"></ion-icon></ion-badge></span>
            
                </div>
            
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </span>
    <ion-row no-padding class="matrix" style="margin-top: 13px;">
      <ion-col size="12"  style="height: 129px;">
        <ion-item-divider sticky>
          <ion-label class="tiles-header">
            <ion-icon name="receipt"></ion-icon>&nbsp; {{postData.title}}
          </ion-label>
        </ion-item-divider>
        <ion-list dragula="bag" [(dragulaModel)]="q2" lines="none">
          <div  *ngFor="let item of q2"  class="item">
            <img src={{item.image}} class="avatar"/>
                <span class="caption">{{item.actorName}}</span>
                
            </div>
        </ion-list>
        </ion-col>
    </ion-row>
     
    <ion-row>
      <ion-col size="6">
    <ion-button *ngIf="showActress==false"  fill="outline" expand="block" color="dark" (click)="showActress=true" ion-text-center>
      <ion-icon slot="start" name="arrow-back"></ion-icon>
      Back
    </ion-button>
      </ion-col>
      <ion-col size="6">
     <ion-button *ngIf="showActress==true"  fill="outline" expand="block" color="dark" (click)="showActress=false" ion-text-center>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
      Add Actress
    </ion-button>

  </ion-col>
  </ion-row>

    
    
    
    
     
  </ion-grid>
  <ion-fab *ngIf="showActress==false"  vertical="bottom" horizontal="end">
    <ion-fab-button color="dark">
      <ion-icon name="save" (click)="mapActors()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>