<ion-header class="toolbar_class" translucent="true">
  <ion-toolbar style="color:white">
    <ion-buttons  slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="margin-left: -14px;" *ngIf="!ios"><img class="logo-cls"
        src="../../../assets/icons/logo-3.png"></ion-title>
    <ion-buttons (click)="applyFilters()" slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
 

<ion-content>
  <ion-list [lines]="ios ? 'inset' : 'full'">
    <ion-item-divider sticky>
      <ion-label class="tiles-header">
        <ion-icon name="volume-high"></ion-icon> &nbsp; Notifications
      </ion-label>
      <ion-icon class="more-icon" name="chevron-forward-circle-outline"></ion-icon>

    </ion-item-divider>

    <ion-item *ngFor="let track of notify">
      <ion-icon *ngIf="ios" slot="start" [name]="track.icon" color="medium"></ion-icon>
      <ion-label>{{track.uploadedBy}} &nbsp; {{track.type}} &nbsp; {{track.like}}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
 
