ion-fab-button {
  --background: var(--ion-color-step-150, #fff);
  --background-hover: var(--ion-color-step-200, #f2f2f2);
  --background-focused: var(--ion-color-step-250, #d9d9d9);

  --color: var(--ion-color-primary, #3880ff);
}
.icon-cls{
  font-size: 38px;
  margin-left: 0px;
  margin-right: -14px;
  margin-top:6px;

}
.logo-cls{
  margin-left: 24px;
  margin-top: 2px;
  font-size: 18px;
}
.toolbar_class{
  height: 115px;
  background-image: -webkit-linear-gradient(150deg, #013A6B 35%, #004E95 35%);
  
  border: none !important;
  box-shadow: 3px 6px 5px 0px grey;
}
::ng-deep .searchbar-input sc-ion-searchbar-md{
  border-radius: 20px !important;
}
input [type=search]{
  border-radius: 20px !important;
}
.change-tool-height1{
  min-height: 130px;
}
.change-tool-height2{
  min-height:119px;
}
#notification-button {            
  position: fixed;
  width: 36px;
  top: 18px;
  right: 25px;
  overflow: visible !important;
  height: 29px;
  font-size: 30px;
  background: transparent;
  color: white;
}


#notifications-badge {
  background-color: red;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
}
.search-bar{
  margin-left: 4px;
  width: 98%;
  margin-top: 6px;
  border-radius: 17px;
}
.searchbar-input.sc-ion-searchbar-md{
  border-radius: 25px;
}
.welcome{
  padding: 8px;
  color: white;
  font-size: 29px;
  font-variant: small-caps;
  margin-top: 10px;
}
.custom-title{
  width: 222%;
  margin-top: -20px;
}
.scondary-toolbar{
  --ion-background-color: -webkit-linear-gradient(150deg, #013A6B 35%, #004E95 35%) !important;
    color: white !important;
    box-shadow: -4px 7px 10px 10px grey;

}
.gener{
  margin-top: 6px;
  font-size:10px;
}
.tag{
  position: absolute;
  top: -5px;
  right: -4px;
  z-index: 1;
  background:-webkit-linear-gradient(top, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
  width: 55px;
  height: 55px;
  padding: 12.5px 0;
  box-shadow: -5px 9px 6px 2px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 700;
  text-align: center;
  border-bottom-left-radius: 65%;
}
/*
 * Material Design uses the ripple for activated
 * so only style the iOS activated background
 */
.ios ion-fab-button {
  --background-activated: var(--ion-color-step-250, #d9d9d9);
}
.custom-toolbar{
  height: 280px;
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(119deg, #013A6B 35%, #004E95 35%);
  min-height: 164px;
  border: none !important;
   
  
}
 
.style1 {
  width: 307px !important;
  height: 187px !important;
  background-color: #FFF;
  float: left;
  margin-left: 1.5px !important;
  margin-right: 1.5px !important;
  border-radius: 50px !important;
}
.style2 {
  width: 234px !important;
  height: 281px !important;
  background-color: #FFF;
  float: left;
  margin-left: 1.5px !important;
  margin-right: 1.5px !important;
  border-radius: 50px !important;
}
.style3 {
  width: 138px !important;
  height: 203px !important;
  background-color: #FFF;
  float: left;
  margin-left: 1.5px !important;
  margin-right: 1.5px !important;
  border-radius: 50px !important;
}
.view-class{
  margin-left: 12px;
  position: relative;
  top: -17px;
  left: -16px;
} 
.profile-class{
  width: 34px;
  height: 33px;
  position: relative;
  margin-left: 19%;
  box-shadow: 0px 0px 10px 0px white;
  border-radius: 50%;
}
.fb-btn-css{
  height: 42px;
  width: 82px;
  margin-left: -17px;
  font-size: 11px;
}
.more-icon{
  margin-inline-start: auto;
  color: #4c8dff;
}
.icon-view{
  margin-left: auto;
}
.tiles-header{
  
  color: #013a6b;
  font-weight: bold;
  font-size: small;
  font-kerning: none;
}
.caption {
  display: block;
  font-size: 14px;
  color: #262626;
  white-space: pre;
}
.badge-cls{
  margin-top: 1px;
  padding-left: 5px;
  margin-bottom: -2px;
}
.chip-css{
  margin-left: 20px;
  margin-bottom: 13px;
}
.scroll-card-1{
  height: 25vh;
  width: 60vh;
  box-shadow: -1px -2px 9px 3px grey;
}
.scroll-card-2{
  height: 255px;
  width: 67vh;
  box-shadow: 1px 4px 7px grey;
}
.style4{
  width:193px !important;
  margin-top: 17px;
  background-color: transparent !important;
}
.scroll-card-3{
  height: 27vh;
  width: 83vh;
  box-shadow: -1px -2px 9px 3px grey;
}
.no-log{
  margin-left: 9px;
  margin-top: 6px;
  position: relative;
  top: -9px;
}
.caption {
  display: block;
  font-size: 14px;
  color: #262626;
  white-space: pre;
}
.actor-cls{
  color: #395771;
  font-weight: bold;
  font-size: small;
}
div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 77px;
  }
.avatar {
  vertical-align: middle;
  width: 60px;
  height: 65px;
  border-radius: 61%;
  box-shadow: 1px -2px 20px 1px #666666;
}
.scroll-card-4{
  border-radius: 88px;
  box-shadow: -1px -2px 9px 3px grey;
  background: #3171e0;
  width: 154px;
    height: 82px;
}
.tab-selected{
  border-bottom: 3px solid #6370ff;
  font-weight: bold;
 
} 
.searchbar-input-container .searchbar-input{
  border-radius: 17px !important;
}
::ng-deep #tab-button-create-post ion-fab-button button{
  background: #004e95 !important;
}
.actor-img{
  width: 75px;
  height: 50px;
}
$categories: (
  ionic: var(--ion-color-primary),
  angular: #ac282b,
  communication: #8e8d93,
  tooling: #fe4c52,
  services: #fd8b2d,
  design: #fed035,
  workshop: #69bb7b,
  food: #3bc7c4,
  documentation: #b16be3,
  navigation: #6600cc
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track='#{$track}'] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}
