<ion-header class="toolbar_class" translucent="true">
  <!-- <ion-toolbar >
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-icon slot="icon-only" name="videocam"></ion-icon>
    </ion-buttons>
    <ion-title style="padding-left: 8px;" *ngIf="!ios && !showSearchbar"><span> Story Board</span></ion-title>
    
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->
  <h6 class="welcome">Welcome back, <img class="profile-class" (click)="presentPopover($event)" src="../../../assets/icons/profile.png" /></h6>
  <div>
    <button id="notification-button" ion-button clear>
      <ion-icon name="notifications">
        <ion-badge id="notifications-badge" color="danger">5</ion-badge>
      </ion-icon>
    </button>
  </div>
  <span class="welcome" style="font-size:14px;text-transform: uppercase;">{{username}}</span>
  <span>

    <ion-searchbar style="border-radius: 17px" class="search-bar" [(ngModel)]="queryText" placeholder="Search" (ionChange)="updateSchedule()"
      animated></ion-searchbar>
  </span>

</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Schedule</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar style="border-radius: 17px" [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-group *ngFor="let group of groups;let i=index;" [hidden]="group.hide">
      <ion-item-divider sticky>
        <ion-label class="tiles-header">
          {{group}}
        </ion-label>
        <ion-icon class="more-icon" name="chevron-forward-circle-outline"></ion-icon>

      </ion-item-divider>
      <ion-slides [options]="slideOpts" *ngIf="i==0">
        <ion-slide class="style2" *ngFor="let post of topViewed;let i=index;">
          <ion-card class="scroll-card-2" (click)="goToDetail(post)">
            <img style="width: -webkit-fill-available;height:188px" src={{post.image}}>
            <div class="thumbnail">
              <div class="tag">
                <div class="gener">{{post.generType}}</div>
              </div>
            </div>
            <ion-item-divider style="border: none;">
              <ion-label class="tiles-header">
                {{post.title}}
              </ion-label>


              <ion-button class="icon-view">
                <ion-icon src="../../../assets/icons/rupee-indian.svg"></ion-icon>{{post.budget | shortNumber}}
              </ion-button>

            </ion-item-divider>
            <div class="ion-text-start" style="margin-left: 15px;">{{post.views}} Views</div>
            <div class="ion-text-end view-class"><ion-icon name="time-outline"></ion-icon> {{ago(post.uploadedOn)}} ago</div>

          </ion-card>
        </ion-slide>
      </ion-slides>
      
      <ion-slides [options]="slideOpts" *ngIf="i==1">
        <ion-slide class="style2" *ngFor="let post of topBudget;let i=index;">
          <ion-card class="scroll-card-2" (click)="goToDetail(post)"> 
            <img style="width: -webkit-fill-available;height:188px" src={{post.image}}>
            <div class="thumbnail">
              <div class="tag">
                <div class="gener">{{post.generType}}</div>
              </div>
            </div>
            <ion-item-divider style="border: none;">
              <ion-label class="tiles-header">
                {{post.title}}
              </ion-label>

              
              <ion-button class="icon-view">
                <ion-icon src="../../../assets/icons/rupee-indian.svg"></ion-icon>{{post.budget | shortNumber}}
              </ion-button>

            </ion-item-divider>
            <div class="ion-text-start" style="margin-left: 15px;">{{post.views}} Views</div>
            <div class="ion-text-end view-class"><ion-icon name="time-outline"></ion-icon> {{ago(post.uploadedOn)}} ago</div>

          </ion-card>
        </ion-slide>
      </ion-slides>
      <ion-slides [options]="slideOpts" *ngIf="i==2">
        <ion-slide class="style4" >
          <ion-card *ngFor="let post of topActors;let i=index;" class="scroll-card-4"> 
            <img class="actor-img" src={{post.image}}>
            <span class="caption"><ion-badge color="primary">   {{post.associatedStories.length}} - <ion-icon class="badge-cls" name="star"></ion-icon> </ion-badge></span>
         
          </ion-card>
        </ion-slide>
      </ion-slides>
      <ion-slides [options]="slideOpts" *ngIf="i==3">
        <ion-slide class="style4">
          <ion-card *ngFor="let post of topActress;let i=index;" class="scroll-card-4">
            <img class="actor-img" src={{post.image}}>
            <span class="caption"><ion-badge color="primary">  {{post.associatedStories.length}} - <ion-icon class="badge-cls" name="star"></ion-icon> </ion-badge></span>
         
          </ion-card> 
             
        </ion-slide>
      </ion-slides>
    </ion-item-group>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button color="light">
      <ion-icon src="../../../assets/icons/woman.svg"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="vimeo" (click)="createactor('add', fab)">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
       
    </ion-fab-list>
  </ion-fab>

</ion-content>