.speaker-card {
  display: flex;
  flex-direction: column;
}
ion-card{
  margin : -2px;
}
.icon-view{
  margin-left: auto;
  font-size: 15px;
}
.title-cls{
  color: #1e2023;
  font-size: 21px;
  padding-left: 4px;
  
}
.chip-css{
  margin-left: 20px;
  margin-bottom: 13px;
}
.heart-cls-red{
 color:#cf3c4f;
 font-size: 34px;
}
.heart-cls-white{
 color:#d7d8da;
 font-size: 34px;
}
.view-class{
  margin-left: 12px;
  position: relative;
  top: -17px;
  left: -16px;
} 
/* Due to the fact the cards are inside of columns the margins don't overlap
 * properly so we want to remove the extra margin between cards
 */
ion-col:not(:last-of-type) .speaker-card {
  margin-bottom: 0;
}
.custom-header{
  --ion-background-color: -webkit-linear-gradient(150deg, #013A6B 35%, #004E95 35%);
  color: white !important;
  }
  .custom-toolbar{
      color: white;
  }

.speaker-card .speaker-item {
  --min-height: 85px;
}

.speaker-card .speaker-item h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.speaker-card .speaker-item p {
  font-size: 13px;
  letter-spacing: 0.02em;
}

.speaker-card ion-card-header {
  padding: 0;
}

.speaker-card ion-card-content {
  flex: 1 1 auto;

  padding: 0;
}

.ios ion-list {
  margin-bottom: 10px;
}

.md ion-list {
  border-top: 1px solid var(--ion-color-step-150, #d7d8da);

  padding: 0;
}
 