/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/*
 * App CSS
 * ----------------------------------------------------------------------------
 * Imports a file that can contain Sass/CSS that should be used throughout
 * the entire app.
 */

@import "./app/app.scss";
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/PTSans-Regular.ttf');
  }

   
  .seg-class{
    margin-top: 6px;
    box-shadow: 1px 1px 26px 1px grey;
    margin-bottom: 12px;
}
.seg-class2{
   
  box-shadow: 1px 1px 26px 1px grey;
  margin-bottom: 12px;
}

.segment-button-checked{
  background:-webkit-linear-gradient(150deg, #013A6B 35%, #004E95 35%);
  color: white;
  font-weight: bold;
}
.action-sheet-title{
  background: #144e97 !important;
  color: white !important;
}
.searchbar-input{
  border-radius: 20px;
  height: 29px;
  font-size: 15px;
}
.toast-success{
  --background:#08af2d !important;
  --color:white;
  box-shadow: 4px 5px 4px 3px grey;
}
.toast-danger{
  --background:#e4233c !important;
  --color:white;
  box-shadow: 4px 5px 4px 3px grey;
}
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
 
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
 
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
 
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.tool-header{
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.logo-cls{
  width: 161px;
  margin-left: -5px;
}
.toolbar_class{
   
  --ion-background-color:#222428;
  border: none !important;
  box-shadow: 3px 6px 5px 0px grey;
}
.ion-selectable{
  color:#ffffff9c;
}
.tab-selected{
  color: white !important;
  font-weight: 800;

}
.custom-header{
  --ion-background-color:black !important; 
  color: white !important;
  }
  .custom-toolbar{
      color: white !important;
  }